

body{
	background-color: #dad6d3;
	font-family: Helvetica,Arial;
}



#main{
	width: 1200px;
}


#container{
	background-color:white;
	width: 1200px;
	margin-left: auto;
    margin-right: auto; 
}


div.images {
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 30%;
    margin: 1%; 
}
div.images img {
    width:100%;
	height: 100%;
}
div.desc {
    padding: 15px;
	text-align: left;
	color: grey;
	
    
}
.align{
	text-align: right;
}




@media only screen and (max-width: 768px){

	#container, #main{
		width: 	500px;
	}
	div.images{
		width: 46%;
	}


}

@media only screen and (max-width: 500px){

	#container, #main{
		width: 300px;

	}
	div.images{
		width:95%;
	}
}




